@import "./sections/jquery-ui.min.scss";
@import "./sections/splide.min.scss";
@import "./utils/normalize.scss";
@import "./sections/normalize.scss";
@import "./utils/mixins.scss";
@import "./sections/apartments.scss";
@import "./sections/gallery.scss";
@import "./sections/header.scss";
@import "./sections/about.scss";
@import "./sections/benefits.scss";
@import "./sections/contacts.scss";
@import "./sections/details.scss";
@import "./sections/facilities.scss";
@import "./sections/footer.scss";
@import "./sections/custom-button.scss";
@import "./sections/custom-input.scss";
@import "./sections/apartament-item.scss";
@import "./sections/buttons.scss";
@import "./sections/more-button.scss";
@import "./sections/opengraph.scss";
@import "./sections/location.scss";
@import "./sections/location-map.scss";

body {
  font-family: "Playfair Display", serif;
  color: #252838;
  font-size: 16px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}