@import "../utils/mixins.scss";

.about {
  @include tablet {
    padding: 79px 7% 79.7px 18.5%;
    height: auto;
  }
  @include desktop {
    padding: 81px 0 82px 384px;
    margin: auto;
  }
  position: relative;
  padding: 47px 8.6% 130px;
  max-width: 1440px;
  &-section {
    background: #bed7d4;
  }
  &__line-left {
    @include tablet {
      position: absolute;
      z-index: 5;
      left: -43px;
      top: 0;
      display: block;
      height: 100%;
      border-left: 8px solid #b5d1ce;
    }
    @include desktop {
      left: -47px;
    }
    display: none;
  }
  &__text {
    @media (min-width: 500px) {
      height: 105px;
    }
    @include tablet {
      height: auto;
      z-index: 1;
    }
    @include ultrawide {
      margin-top: 26px;
      width: 918px;
    }
    position: relative;
    margin-top: 30px;
    line-height: 1.4;
    // height: 193px;
    height: 160px;
    font-size: 16px;
    line-height: 24px;
    &-tablet {
      @include tablet {
        display: block;
        font-size: 1.76vw;
        line-height: 1.8;
        width: 62.5vw;
      }
      @include desktop {
        font-size: 1.25vw;
      }
      @include ultrawide {
        width: 81.5%;
        margin-top: 0;
        font-size: 18px;
        line-height: 32px;
      }
      display: none;
      &-part {
        @include desktop {
          display: inline-block;
        }
        display: none;
      }
    }
    &-mobile {
      @include tablet {
        display: none;
      }
      overflow: hidden;
      height: 100%;
    }
    &-bg {
      @include tablet {
        display: none;
      }
      position: absolute;
      left: 0;
      bottom: 0;
      height: 35px;
      width: 100%;
      z-index: 1;
      background: linear-gradient(
        180deg,
        rgba(190, 215, 212, 0) 0%,
        #bed7d4 100%
      );
    }
  }
  &__button {
    @include tablet {
      display: none;
    }
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 48px;
    height: 48px;
    left: 50%;
    transform: translate(-50%, 50%);
    bottom: 0;
    z-index: 1;
    background: #b5d1ce;
    backdrop-filter: blur(30px);
    border-radius: 50%;
    &--hide {
      display: none;
    }
  }
  &__subtitle {
    @include tablet {
      position: static;
      bottom: auto;
      right: auto;
      text-align: left;
      margin-top: 36px;
    }
    position: absolute;
    bottom: 49px;
    right: 32px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: #e60100;
    text-align: right;
    font-size: 13px;
  }
  &__quotes {
    @include tablet {
      position: absolute;
      display: block;
      bottom: 0;
      right: 10.4vw;
      height: 25.3vw;
      width: auto;
      z-index: 0;
    }
    @include desktop {
      height: 18.1vw;
    }
    @include ultrawide {
      height: 264px;
      right: 10%;
    }
    width: 0;
    height: 0;
    display: none;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    font-weight: normal;
    &-break {
      @include tablet {
        display: none;
      }
    }
    &--italic {
      font-style: italic;
    }
    &--2nd {
      @include tablet {
        margin-left: 5px;
      }
    }
  }
}
