@import "../utils/mixins.scss";

.apartments {
  @include tablet {
    padding: 48 2.4% 176px;
  }
  @include desktop {
    padding: 48px 1.7% 176px;
    margin: auto;
  }
  position: relative;
  max-width: 1440px;
  padding: 48.6px 4.2% 173px;
  &::after {
    @include tablet {
      width: 96%;
    }
    content: "";
    position: absolute;
    border-top: 1px solid #bed7d4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 91%;
  }
  &__header {
    display: none;
    .fixed {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }
  }
  &__title {
    @include tablet {
      text-align: left;
      font-size: 24px;
      line-height: 32px;
    }
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-align: center;
    &-2nd {
      @include tablet {
        margin-left: 6px;
      }
    }
    &-break {
      @include tablet {
        display: none;
      }
    }
  }
  &__text {
    @include tablet {
      margin-top: 30px;
      font-size: 16px;
      line-height: 24px;
      width: 60%;
      text-align: left;
    }
    @include desktop {
      width: 85%;
    }
    margin-top: 30px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  &__filter {
    @include tablet {
      height: 49px;
      width: 28.5vw;
      padding-right: 15.6px;
    }
    @include desktop {
      width: 29.9vw;
      height: 46.9px;
      padding-right: 1vw;
    }
    @include ultrawide {
      width: 433px;
      padding-right: 16px;
    }
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-top: 33px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    &-title {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
    }
  }
  &__top {
    @include tablet {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }
  &__container-wrap {
    position: relative;
  }
  &__container {
    @include tablet {
      gap: 2.7%;
      padding-top: 4.5vw;
    }
    @media (min-width: 1000px) {
      gap: 2%;
    }
    @include desktop {
      padding-top: 2.2vw;
    }
    @include ultrawide {
      padding-top: 32px;
    }
    display: inline-flex;
    flex-wrap: wrap;
    gap: 31px;
    width: 100%;
    padding-top: 32px;
  }
  &__item {
    @include tablet {
      width: 48.65%;
    }
    @media (min-width: 1000px) {
      width: 32%;
    }
    width: 100%;

    &:nth-of-type(1) {
      margin-top: 0;
    }
    &:nth-of-type(2) {
      @include tablet {
        margin-top: 0;
      }
    }
    &:nth-of-type(3) {
      @media (min-width: 1000px) {
        margin-top: 0;
      }
    }
    margin-top: 32px;

    &-image {
      @include ultrawide {
        height: 287px;
      }
      height: auto;
      width: 100%;
    }
    &-rooms {
      color: #0085b2;
    }
    &-wrap {
      position: relative;
      margin-top: 18px;
      cursor: pointer;
    }
    &-floor {
      @include tablet {
        margin-left: 29px;
      }
      @include desktop {
        margin-left: 64px;
      }
      margin-left: 38px;
    }
    &-top {
      @include tablet {
        font-size: 13px;
        line-height: 16px;
      }
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      font-family: "Montserrat", sans-serif;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }
  }
  &__label {
    @include tablet {
      top: 23px;
      right: 9px;
      padding: 8px 15px;
      border-radius: 40px;
      font-size: 13px;
      line-height: 16px;
    }
    position: absolute;
    top: 24px;
    right: 8px;
    padding: 8.1px 14.7px;
    border-radius: 40px;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    z-index: 1;
    &--price {
      background: #ffed54;
    }
    &--rent {
      background: #bed7d4;
    }
    &--sold {
      background: #e60100;
      color: #fff;
      text-transform: uppercase;
    }
  }
  &-top-filter {
    @include tablet {
      padding: 0 2.4%;
    }
    @include desktop {
      padding: 0 1.7%;
      margin: auto;
    }
    max-width: 1440px;
    padding: 0 4.2%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 100%;
    display: none;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(8px);
    cursor: pointer;
    &__title {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
    }
  }
}
