@import "../utils/mixins.scss";

.buttons {
  @include tablet {
   grid-template-columns: repeat(4, auto);
  }
  display: grid;
  gap: 10px;
  justify-content: flex-start;
  max-width: 1440px;
  margin: auto;
}
