@import "../utils/mixins.scss";

.carousel {
  width: 450px;
  &__list {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom: 0;
  }
  &__item {
    display: block;
    float: left;
    margin-right: 6px;
    cursor: pointer;
  }
  image {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.popup-gallery {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background: #252838;
  z-index: 10;
  opacity: 0;
  transition: opacity 150ms;
  &--show {
    left: 0;
    opacity: 1;
    transition: opacity 250ms;
  }
  &__close {
    @include tablet {
      bottom: 21vh;
    }
    position: absolute;
    bottom: 27vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    cursor: pointer;
  }
}

#popup-gallery-primary-slider {
  #apartment-thumbs {
    width: fit-content;
  }
  .splide__slide {
    @media (min-width: 1000px) {
      height: 84vh !important;
    }
    min-height: 200px;
    text-align: center;
    .splide__image {
      height: 100%;
      &--centered {
        @media (min-width: 450px) and (max-width: 800px) and (orientation: landscape) {
          background-size: cover;
        }
        @media (min-width: 1000px) {
          background-size: cover;
        }
        background-size: contain;
      }
    }
    .splide__image,
    img {
      @media (min-width: 768px) and (orientation: portrait) {
        height: 83.9vh !important;
      }
      @media (min-width: 1000px) {
        height: 84vh;
      }
      max-width: 100%;
      width: 100vw;
      height: 100%;
    }
  }
}

#popup-gallery-secondary-slider {
  .splide__slide .splide__image {
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .splide__slide {
    @media (max-width: 1367px) and (max-height: 1367px) {
      width: 16vh !important;
      height: 16vh !important;
      margin-top: 1.5vh;
    }
    max-width: 91px;
    max-height: 91px;
    margin-top: 15px;
    border: 0 solid transparent;
    &.is-active {
      border: 4px solid #ffd101;
    }
  }
  .splide__list {
    padding-left: 40px !important;
  }
}

#apartment-item-primary-slider {
  .splide__slide {
    @media (min-width: 1000px) {
      height: 77.9vh !important;
    }
    min-height: 200px;
    height: 52.2vh !important;
    text-align: center;
    .splide__image {
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      &--centered {
        @media (min-width: 450px) and (max-width: 800px) and (orientation: landscape) {
          background-size: cover;
        }
        @media (min-width: 1000px) {
          background-size: cover;
        }
        background-size: contain;
      }
    }
    .splide__image,
    img {
      @media (max-width: 1000px) and (orientation: landscape) {
        height: 77.9vh;
        height: 100%;
      }
      @media (min-width: 1000px) {
        width: 72vw;
        height: 80vh;
      }
      max-width: 100%;
      width: 100vw;
      height: 52.2vh;
    }
  }
}

#apartment-item-secondary-slider {
  .splide__slide {
    @media (min-width: 500px) and (max-width: 1367px) and (max-height: 1367px) {
      width: 16vh !important;
      height: 16vh !important;
      margin-top: 1.5vh;
    }
    max-width: 91px;
    max-height: 91px;
    margin-top: 16px;
    border: 0 solid transparent;
    &.is-active {
      border: 4px solid #ffd101;
    }
  }
  .splide__slide img {
    width: 100%;
    height: 100%;
  }
}

#apartment-thumbs {
  .splide__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.track-center {
  justify-content: center;
  display: flex;
  transform: translateX(7px);
}
