@import "../utils/mixins.scss";

.contacts {
  @include tablet {
    display: grid;
    grid-template-columns: 49.2% 48.8%;
    justify-content: space-between;
    align-items: flex-start;
  }
  @include desktop {
    grid-template-columns: 49% 49%;
  }
  @include ultrawide {
    margin: auto;
    align-items: start;
  }
  max-width: 1440px;
  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    &--right {
      @include tablet {
        width: 66%;
      }
      @include desktop {
        width: 48%;
      }
      width: 88%;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.5px;
      text-align: left;
    }
  }
  &__left {
    @include desktop {
      padding-top: 50px;
      padding-bottom: 50px;
      align-content: flex-start;
    }
    position: relative;
    padding-top: 48px;
    padding-bottom: 49px;
    display: grid;
    justify-items: center;
    &-border {
      @include tablet {
        width: 100%;
      }
      @include desktop {
        width: 97%;
        left: 3%;
        transform: translateX(0%);
      }
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 91.2%;
      border-top: 1px solid #bed7d4;
      z-index: 1;

      &--top {
        top: 0;
      }
      &--bottom {
        bottom: 0;
      }
    }
  }
  &__image {
    @include desktop {
      height: 128px;
      margin-top: 30px;
    }
    height: 128px;
    width: 128px;
    margin-top: 33px;
  }
  &__name {
    margin-top: 33px;
    font-size: 16px;
    line-height: 24px;
  }
  &__occupation {
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #0085b2;
  }
  &__phone {
    margin-top: 16px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: #252838;
  }
  &__tel {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    color: #252838;
  }
  &__link {
    @include tablet {
      margin-top: 32px;
    }
    @include desktop {
      margin-top: 25px;
    }
    width: fit-content;
    text-decoration: underline;
    color: #167c80;
    margin-top: 24px;
    font-size: 16px;
    line-height: 40px;
    cursor: pointer;
    display: inline-block;
  }
  &__text {
    @include tablet {
      margin-top: 33px;
    }
    @include desktop {
      font-size: 16px;
      margin-top: 30px;
      max-width: 100%;
    }
    margin-top: 8vw;
    font-size: 16px;
    line-height: 24px;
    max-width: 360px;
  }
  &__right {
    @include tablet {
      align-self: normal;
    }
    @include desktop {
      display: grid;
      height: 100%;
    }
    padding: 16px;
    background: #f2f2f2;
    &-container {
      @include ultrawide {
        padding: 33px 90px 0 28px;
      }
      display: grid;
      border: 1px solid #ffed54;
      padding: 31px 32px 24px;
    }
  }
}
