@import "../utils/mixins.scss";

.custom-button {
  @include desktop {
    font-size: 0.88vw;
  }
  @include ultrawide {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
  }
  display: block;
  border: none;
  background-color: #ffed54;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.1;
  &:hover {
    background-color: #ffed54cc;
  }
  &--separated {
    padding: 10px 20px;
  }
}
