@import "../utils/mixins.scss";

.custom-input {
  @include tablet {
    margin-top: 6.7vh;
    padding-bottom: 1.6vh;
    font-size: 1.3vh;
  }
  // display: none;
  width: 100%;
  margin-top: 63px;
  padding-bottom: 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(#fff, 0.5);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.7px;
}
