@import "../utils/mixins.scss";

.facilities {
  @include tablet {
    padding: 51px 0 30px;
  }
  @include desktop {
    padding: 46px 0 29px;
  }
  @include ultrawide {
    margin: auto;
  }
  padding: 50px 0 49px;
  max-width: 1440px;
  &-section {
    @include ultrawide {
      position: relative;
    }
    width: 100vw;
    overflow: hidden;
  }
  &__wrapper {
    @include ultrawide {
      overflow: inherit;
      height: 213px;
    }
    overflow: hidden;
    margin-top: 30px;
  }
  &__container {
    @include ultrawide {
      overflow: inherit;
      overflow-x: auto;
    }
    max-width: 1440px;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    height: 208px;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      height: 0;
      background: transparent;
      border-radius: 50px;
    }
    &--center {
      @include ultrawide {
        width: auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        max-width: fit-content;
        overflow-x: initial;
      }
    }
  }
  &__item {
    @include desktop {
      width: 228px;
      padding: 30px 13px 0;
    }
    width: 227px;
    height: 100%;
    padding: 32.2px 16.5px 0;
    border: 1px solid #0085b2;
    &--first {
      @include tablet {
        padding-left: 24px;
      }
      padding-left: 4.4vw;
    }
    &--last {
      @include tablet {
        padding-right: 24px;
      }
      padding-right: 4.4vw;
    }
    &--1 {
      border-color: #0085b2;
    }
    &--2 {
      border-color: #167c80;
    }
    &--3 {
      border-color: #ffed54;
    }
    &--4 {
      border-color: #e60100;
    }
    &--5 {
      border-color: #0085b2;
    }
    &--6 {
      border-color: #ffed54;
  
    }
    &--center {
      display: grid;
      align-content: baseline;
      justify-items: center;
      padding-top: 61px;
      cursor: pointer;
    }
  }
  &__text {
    margin-top: 27px;
    font-size: 16px;
    line-height: 24px;
    &--center {
      margin-top: 31px;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-size: 13px;
      text-align: center;
      letter-spacing: 0.7px;
    }
  }
  &__image {
    width: 48px;
    height: 48px;
  }
  &__title {
    @include tablet {
      margin-left: 2.3%;
    }
    @include desktop {
      margin-left: 1.5%;
    }
    margin-left: 4%;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
  }
}
