@import "../utils/mixins.scss";

.filter {
  @include tablet {
    width: 375px;
    display: grid;
    justify-items: end;
  }
  position: fixed;
  top: 0;
  right: -100%;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100vh;
  overflow: auto;
  z-index: 2;
  transition: right 100ms;
  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  &--active {
    right: 0;
    width: 100vw;
    transition: right 200ms;
  }
  &__wrap {
    @include tablet {
      width: calc(100vw - 375px);
      height: 100vh;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  &__container {
    @include tablet {
      width: 375px;
    }
    background: #bed7d4;
  }
  &__apostrophe {
    color: #fff;
  }
  &__close {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  &__title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.7px;
    &--white {
      @include tablet {
        display: none;
      }
      color: #fff;
    }
    &--black {
      color: #1f2025;
    }
  }
  &-top {
    @include tablet {
      justify-content: end;
      width: 375px;
      height: 45px;
      padding: 0 19px;
    }
    position: fixed;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 12.5vw;
    padding: 0 4.5vw;
    z-index: 1;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #b5d1ce;
      backdrop-filter: blur(8px);
      z-index: -1;
    }
  }
  &-switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 31px;
    &__slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 18px;
      border: 1.5px solid #f2f2f2;
      transition: 0.4s;
      &:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 1px;
        bottom: 1px;
        border-radius: 50%;
        background-color: white;
        -webkit-transition: 0.4s;
        border: 0.5px solid #f2f2f2;
        transform: matrix(1, 0, 0, -1, 0, 0);
        transition: 0.4s;
      }
    }
    &__input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .filter-switch__slider {
        background: #0085b2;
        border-color: #0085b2;
      }
      &:checked + .filter-switch__slider:before {
        transform: translateX(21.3px) matrix(1, 0, 0, -1, 0, 0);
      }
    }
  }
  &-body {
    @include tablet {
      height: 100vh;
    }
    padding: 88px 17px 50px 17px;
    overflow-y: auto;
    background: #bed7d4;
    &-top {
      display: grid;
      gap: 33px;
      &__item {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
        &:nth-of-type(2) {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: -17px;
            left: 0;
            border-top: 1px solid #f2f2f2;
            opacity: 0.25;
            width: 100%;
          }
        }
      }
    }
  }
  &__bg {
    @include tablet {
      max-width: 375px;
    }
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(37, 40, 56, 0.25);
    backdrop-filter: blur(50px);
    z-index: -1;
  }
  &-toolbar {
    @include tablet {
      margin-top: 40px;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(#0085b2, 0.1);
    margin-top: 10.7vw;
    height: 48px;
    &--show {
      display: grid;
    }
    &__item {
      padding: 0;
      margin: 0;
      position: relative;
      overflow: hidden;
    }
    &__label {
      font-family: "Montserrat", sans-serif;
      display: grid;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-size: 13px;
      color: #fff;
      font-style: normal;
    }
    &__radio {
      position: absolute;
      top: 0;
      left: -100%;
      z-index: -1;
      &:checked + label {
        background: rgba(#0085b2, 0.5);
      }
    }
    &__image {
      height: 24px;
      width: 24px;
    }
  }

  .ui-widget.ui-widget-content {
    height: 16px;
    border: none;
    background-color: transparent;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2px;
      background-color: #fff;
    }
  }

  .ui-slider-horizontal .ui-slider-range {
    background: #ffed54;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
  }
  .ui-slider-horizontal .ui-slider-handle {
    background: transparent;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #252838;
  }
  &-bottom {
    @include tablet {
      gap: 39px;
    }
    display: grid;
    gap: 41px;
    margin-top: 33px;
    &__text {
      background-color: transparent;
    }
    &__top {
      display: grid;
      grid-auto-flow: column;
      justify-content: space-between;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.7px;
      text-transform: uppercase;
      color: #252838;
    }
    &__item {
      @include tablet {
        gap: 24px;
      }
      display: grid;
      gap: 21.3px;
    }
    .ui-slider-tick-mark {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      z-index: 0;
      &--yellow {
        background: #ffed54;
      }
    }
  }
  &-buttons {
    margin-top: 71px;
    width: 100%;
  }
  &__button {
    width: 90.6%;
    margin: auto;
    padding: 16px 0;
    &--transparent {
      background-color: transparent;
      border: 1px solid #ffed54;
    }
    &--yellow {
      margin-top: 16px;
    }
  }
}
