@import "../utils/mixins.scss";

.footer {
  @include tablet {
    padding: 47px 2.3% 74px;
  }
  @include ultrawide {
    padding: 47px 1.6% 58px;
    margin: auto;
  }
  padding: 46px 4.3% 74px;
  max-width: 1440px;
  &__address {
    font-size: 16px;
    line-height: 24px;
  }
  &__list {
    margin-top: 49px;
    font-size: 16px;
    display: grid;
    gap: 22px;
    text-decoration-line: underline;
    list-style-type: none;
  }
  &__resource {
    position: relative;
    color: #252838;
    opacity: 0.5;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      border-top: 0.1px solid #252838;
    }
  }
  &__phone {
    @include desktop {
      margin-top: 16px;
    }
    display: inline-block;
    margin-top: 19px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    text-decoration: none;
    color: #252838;
  }
}
