@import "../utils/mixins.scss";

.gallery {
  @include tablet {
    padding: 49px 2.4% 48px;
  }
  @include desktop {
    padding: 49px 1.7% 48px;
  }
  @include ultrawide {
    margin: auto;
  }
  max-width: 1440px;
  padding: 49px 4.1% 49px;
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
  &__button {
    @include tablet {
      margin-top: 46px;
      padding: 17px 23px;
    }
    @include desktop {
      margin-top: 13px;
      padding: 16.4px 23.6px;
    }
    margin: auto;
    padding: 15px 23px;
  }
}

.masonry {
  @media (min-width: 360px) {
    height: 229vw;
  }
  @media (min-width: 535px) {
    height: 221vw;
  }
  @include tablet {
    height: 100vw;
  }
  @include desktop {
    height: 75vw;
  }
  @include ultrawide {
    height: 1105px;
  }
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 239vw;
  margin-top: 32px;
  &__text {
    font-size: 16px;
  }
  &__image {
    @include tablet {
      margin-bottom: 1.5vw;
    }
    @include desktop {
      margin-bottom: 0.9vw;
    }
    @include ultrawide {
      margin-bottom: 15px;
    }
    width: 100%;
    margin-bottom: 14px;
    &--1 {
      @include tablet {
        height: 40.7vw;
      }
      @include desktop {
        height: 31.2vw;
      }
      @include ultrawide {
        height: 445px;
      }
      height: 59.5vw;
      border-radius: 300px;
    }
    &--2 {
      @include desktop {
        height: 31.3vw;
      }
      @include ultrawide {
        height: 445px;
      }
      height: 60vw;
    }
    &--3 {
      @include tablet {
        height: 29.7vw;
      }
      @include desktop {
        height: 22.6vw;
      }
      @include ultrawide {
        height: 320px;
      }
      height: 43.1vw;
      border-radius: 50%;
    }
    &--4 {
      @include tablet {
        height: 37.6vw;
      }
      @include desktop {
        height: 31.3vw;
      }
      @include ultrawide {
        height: 445px;
      }
      height: 59.5vw;
    }
    &--5 {
      @include tablet {
        height: 40.6vw;
      }
      @include desktop {
        height: 28.8vw;
      }
      @include ultrawide {
        height: 416px;
      }
      height: 55.6vw;
    }
    &--6 {
      @include desktop {
        height: 31.1vw;
      }
      @include ultrawide {
        height: 449px;
      }
      height: 55.6vw;
      border-radius: 300px;
    }
    &--7 {
      @include tablet {
        height: 37.5vw;
      }
      @include desktop {
        height: 26.4vw;
      }
      @include ultrawide {
        height: 382px;
      }
      height: 50.9vw;
    }
    &--8 {
      @include tablet {
        height: 40.8vw;
      }
      @include desktop {
        height: 26.6vw;
      }
      @include ultrawide {
        height: 384px;
      }
      height: 51.3vw;
    }
  }
  &__item {
    @include tablet {
      width: 31.5%;
      margin-bottom: 3%;
    }
    @include desktop {
      width: 23.7%;
      margin-bottom: 2.4%;
    }
    width: 47.8%;
    margin-bottom: 9.2%;
    &--1 {
      order: 1;
    }
    &--2 {
      @include desktop {
        display: block;
        order: 3;
      }
      display: none;
    }
    &--3 {
      @include tablet {
        order: 6;
      }
      @include desktop {
        order: 5;
      }
      order: 6;
      p {
        @include tablet {
          display: block;
        }
        display: none;
      }
    }
    &--4 {
      @include tablet {
        order: 2;
      }
      @include desktop {
        order: 7;
      }
      order: 4;
    }
    &--5 {
      @include tablet {
        order: 3;
      }
      @include desktop {
        order: 2;
      }
      order: 2;
    }
    &--6 {
      @include desktop {
        display: block;
        order: 4;
      }
      display: none;
    }
    &--7 {
      @include tablet {
        order: 5;
      }
      @include desktop {
        order: 6;
      }
      order: 3;
      p {
        @include tablet {
          display: block;
        }
        display: none;
      }
    }
    &--8 {
      @include tablet {
        order: 4;
      }
      @include desktop {
        order: 8;
      }
      order: 5;
    }
    p {
      font-style: italic;
      font-weight: normal;
      font-size: 16px;
      line-height: 16px;
      color: #0085b2;
    }
  }
}
