@import "../utils/mixins.scss";

.location {
  position: relative;
  padding-top: 49px;
  max-width: 1440px;
  margin: auto;
  &::after {
    @include tablet {
      width: 96%;
    }
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    border-top: 1px solid #bed7d4;
    z-index: 1;
  }
  &-section {
    width: 100vw;
  }
  &__title {
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #252838;
  }
}
