@import "../utils/mixins.scss";

.opengraph {
  @include desktop {
    display: grid;
  }
  display: none;
  width: 100%;
  padding: 35px 30px 32px;
  height: 626px;
  grid-template-columns: 62.7% 35%;
  justify-content: space-between;
  margin: auto;
  max-width: 1440px;
  &__grid {
    display: grid;
    grid-template-columns: 57% 36%;
    grid-template-rows: 51.4%;
    gap: 2.9% 5.5%;
  }
  &__image {
    height: 100%;
    width: 100%;
    background-image: url(https://media.timeout.com/images/105730440/image.jpg);
    background-size: cover;
    &--3 {
      border-radius: 173px;
    }
    &--4 {
      border-top-left-radius: 173px;
      border-top-right-radius: 173px;
    }
  }
}
