@import "../utils/mixins.scss";

.popup-gallery__item {
  background-position: center;
  background-repeat: no-repeat;
  &--1 {
    @include tablet {
      background-image: url("../images/gallery/tablet/1.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/1.jpg");
    }
    background-image: url("../images/gallery/mobile/1.jpg");
    background-size: cover;
  }
  &--2 {
    @include tablet {
      background-size: contain;
    }
    background-image: url("../images/gallery/desktop/2.jpg");
    background-size: cover;
  }
  &--3 {
    @include tablet {
      background-image: url("../images/gallery/tablet/3.jpg");
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/3.jpg");
    }
    background-image: url("../images/gallery/mobile/3.jpg");
    background-size: cover;
  }
  &--4 {
    @include tablet {
      background-image: url("../images/gallery/tablet/4.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/4.jpg");
    }
    background-image: url("../images/gallery/mobile/4.jpg");
    background-size: cover;
  }
  &--5 {
    @include tablet {
      background-image: url("../images/gallery/tablet/5.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/5.jpg");
    }
    background-image: url("../images/gallery/mobile/5.jpg");
    background-size: cover;
  }
  &--6 {
    @include tablet {
      background-size: contain;
    }
    background-image: url("../images/gallery/desktop/6.jpg");
    background-size: cover;
  }
  &--7 {
    @include tablet {
      background-image: url("../images/gallery/tablet/7.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/7.jpg");
    }
    background-image: url("../images/gallery/mobile/7.jpg");
    background-size: cover;
  }
  &--8 {
    @include tablet {
      background-image: url("../images/gallery/tablet/8.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/8.jpg");
    }
    background-image: url("../images/gallery/mobile/8.jpg");
    background-size: cover;
  }
  &--9 {
    @include tablet {
      background-image: url("../images/gallery/tablet/8.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/8.jpg");
    }
    background-image: url("../images/gallery/mobile/8.jpg");
    background-size: cover;
  }
  &--10 {
    @include tablet {
      background-image: url("../images/gallery/tablet/8.jpg");
      background-size: contain;
    }
    @include desktop {
      background-image: url("../images/gallery/desktop/8.jpg");
    }
    background-image: url("../images/gallery/mobile/8.jpg");
    background-size: cover;
  }
}
