@import "../utils/mixins.scss";

.popup-facilities {
  @media (min-width: 1300px) {
    padding: 160px 2.2% 50px;
  }
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 100%;
  background: #fff;
  padding: 144px 4.2% 50px;
  overflow-y: auto;
  z-index: 6;
  opacity: 0;
  transition: opacity 150ms;
  &--show {
    display: block;
    left: 0;
    opacity: 1;
    transition: opacity 250ms;
  }
  &__wrap {
    @include tablet {
      columns: 2 200px;
    }
    @media (min-width: 1200px) {
      columns: 3 200px;
    }
    @media (min-width: 1300px) {
      columns: 4 200px;
    }
    columns: 1 200px;
    column-gap: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }
  &__close {
    position: fixed;
    top: 45px;
    left: 50%;
    cursor: pointer;
    z-index: 6;
  }
  &__item {
    display: inline-block;
    width: 100%;
    margin: 0 0 19px;
    padding: 31px 17.2px 54px 14px;
    border: 1px solid #0085b2;
    &:first-of-type {
      border-color: #0085b2;
    }
    &:nth-of-type(2) {
      border-color: #167c80;
    }
    &:nth-of-type(3) {
      border-color: #ffed54;
    }
    &:nth-of-type(4) {
      border-color: #e50100;
    }
    &:nth-of-type(5) {
      border-color: #0085b2;
    }
    &:nth-of-type(6) {
      border-color: #167c80;
    }
    &:nth-of-type(7) {
      border-color: #e50100;
    }
    &:nth-of-type(8) {
      border-color: #ffed54;
    }
    &:nth-of-type(9) {
      border-color: #0085b2;
    }
    &:nth-of-type(10) {
      border-color: #0085b2;
    }
    &:nth-of-type(11) {
      border-color: #252838;
    }
    &:nth-of-type(12) {
      border-color: #0085b2;
    }
  }
  &__text {
    margin-top: 45px;
    font-size: 23.4px;
    line-height: 1.4;
  }
  &__subtext {
    margin-top: 14px;
    font-size: 16px;
    line-height: 1.5;
  }
}
