@import "../utils/mixins.scss";

.request {
  position: fixed;
  top: 0;
  left: 100%;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  background: #252838;
  opacity: 0;
  transition: opacity 150ms;
  &-content--show {
    display: block !important;
  }
  &--show {
    left: 0;
    opacity: 1;
    transition: opacity 250ms;
  }
  &__success {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    z-index: 1;
    width: 100%;
    max-width: 310px;
  }
  &__container {
    @include tablet {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 310px;
      z-index: 1;
      width: 100%;
    }
    @media (max-height: 500px) and (orientation: landscape) {
      position: absolute;
      top: 15%;
      left: 50%;
      transform: translateX(-50%);
      width: 310px;
      width: 100%;
      padding: 50px 0;
      z-index: 1;
    }
    max-width: 310px;
  }
  &__body {
    @include tablet {
      position: static;
      top: auto;
      left: auto;
      transform: translateX(0%);
      width: 100%;
    }
    @media (max-height: 500px) and (orientation: landscape) {
      position: static;
      top: auto;
      left: auto;
      transform: translateX(0%);
      width: 100%;
    }
    position: absolute;
    top: 23.6%;
    left: 50%;
    transform: translateX(-50%);
    width: 83%;
    max-width: 310px;
    z-index: 1;
    &--brochure2 {
      top: 25.7%;
    }
  }
  &__subtext {
    margin-top: 64px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
  }
  &__text {
    @include tablet {
      font-size: 24px;
    }
    display: none;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.5px;
    &--success {
      display: block;
    }
  }
  &__beforewords,
  &__afterwords {
    display: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
  }
  &__beforewords--request2 {
    @media (min-width: 768px) and (max-width: 1400px) and (max-height: 800px) {
      margin-top: 26px;
    }
    margin-top: 48px;
  }
  &__close {
    @include tablet {
      top: 12%;
    }
    @media (max-height: 768px) and (max-width: 1200px) {
      top: 5%;
    }
    position: absolute;
    top: 49px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
  }
  &__text-bottom {
    @include tablet {
      position: static;
      bottom: auto;
      left: auto;
      margin: auto;
      margin-top: 48px;
      text-align: center;
      transform: translateX(0%);
    }
    @media (max-height: 500px) and (orientation: landscape) {
      position: static;
      bottom: auto;
      left: auto;
      margin: auto;
      margin-top: 48px;
      text-align: center;
      transform: translateX(0%);
    }
    position: absolute;
    bottom: 26vh;
    left: 50%;
    transform: translateX(-50%);
    width: 276px;
    line-height: 1.4;
    text-align: center;
    font-style: italic;
    color: #ffffff;
    opacity: 0.5;
  }
  &__button {
    @include tablet {
      position: static;
      display: block;
      width: auto;
      margin: auto;
      padding: 16px 24px;
      margin-top: 80px;
    }
    @media (max-height: 500px) and (orientation: landscape) {
      position: static;
      display: block;
      width: auto;
      margin: auto;
      padding: 16px 24px;
      margin: auto;
      margin-top: 35px;
    }
    @media (min-width: 1000px) and (max-width: 1400px) and (max-height: 800px) {
      margin-top: 30px;
    }
    position: absolute;
    font-family: "Montserrat", sans-serif;
    bottom: 11vh;
    left: 0%;
    width: 100%;
    border: none;
    padding: 24.5px 0 35.5px;
    background: #ffed54;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.7px;
    cursor: pointer;
    &--request {
      display: none;
    }
    &--request2 {
      display: none;
    }
    &--excursion {
      display: none;
    }
    &--call {
      display: none;
    }
    // &--success {
    //   display: none;
    // }
    &--backcall {
      display: none;
    }
    &--brochure {
      display: none;
    }
    &--brochure2 {
      display: none;
    }
    &--apartment {
      display: none;
    }
    &--request {
      display: none;
    }
  }
  &__group {
    display: none;
    gap: 30px;
    align-content: space-between;
    margin-top: 50px;
    &--show {
      display: grid;
    }
  }
  &__input {
    @include tablet {
      margin-top: 48px;
    }
    display: none;
    width: 100%;
    margin-top: 63px;
    padding-bottom: 15px;
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(#fff, 0.5);
    color: #ffffff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.7px;
    &--brochure2 {
      margin-top: 73px;
    }
    &--phone2,
    &--email2 {
      display: block;
      margin-top: 0;
    }
    &::placeholder {
      opacity: 0.25;
    }
  }
  &-toolbar {
    background: rgba(#0085b2, 0.1);
    margin-top: 14px;
    height: 48px;
    padding: 0 !important;
    display: none;
    &--show {
      display: flex;
    }
    &__item {
      position: relative;
      overflow: hidden;
      width: 33.33%;
      height: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      cursor: pointer;
      &--active {
        background: rgba(#0085b2, 0.5);
      }
    }
    &__image {
      height: 24px;
      width: 24px;
    }
  }
}
