.icon {
  display: inline-block;
  background-repeat: no-repeat;
}
.icon-arrow {
  width: 17px;
  height: 32px;
  background-position: 0 0;
}
.icon-arrow-down {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-books {
  width: 33px;
  height: 32px;
  background-position: -96px 0;
}
.icon-close-black {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-close-white {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-close-yellow {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-ecology {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-grid {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-grid-red {
  width: 33px;
  height: 32px;
  background-position: -384px 0;
}
.icon-grid-yellow {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-house-chat-message {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-messages {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-money {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-o2 {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-phone {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.icon-pin {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.icon-school {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-settings {
  width: 33px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-shield-chekmark {
  width: 32px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-shield-chekmark-yellow {
  width: 33px;
  height: 32px;
  background-position: -144px -48px;
}
.icon-space-dish-science {
  width: 32px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-swimming-pool {
  width: 33px;
  height: 32px;
  background-position: -240px -48px;
}
.icon-switch {
  width: 32px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-telegram {
  width: 32px;
  height: 32px;
  background-position: -336px -48px;
}
.icon-whatsapp {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-wind {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-wind-black {
  width: 33px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-wind-blue-dark {
  width: 33px;
  height: 32px;
  background-position: -528px -48px;
}
